html {
    color: rgb(80, 160, 255);
    text-shadow: 3px 5px 2px rgb(0, 30, 70);
}

body {
    background: rgba(0,  0, 0, 0.8);
    padding: 5%;
    color: rgb(80, 160, 255);
}


img {
    border: 3px solid grey;
    border-radius: 3px;
    opacity: 1;
}

img:hover {
    transition: .5s ease;
    opacity:0.6;
}

table {
    width: 75%;
    top: auto;
    border-collapse:collapse;
    table-layout: fixed;
}


td {
    text-align: center;
    align-items: center;
    width: 33%;
    padding: 10px;
}

td.sty {
    border-bottom: 5px solid white;
}

a:link {
    color: rgb(80, 160, 255);
    text-decoration: none;
}

a:hover {
    color: rgb(60, 120,200);
    text-decoration: underline;
}

a {
   color: rgb(80, 160, 255);
}


.center {
  margin-left: auto;
  margin-right: auto;
}


.nc {
    position:relative;
    color: rgb(80, 160, 255);
    font-size: 20px;
    text-shadow: 3px 3px 3px black;

}


.ani {position: relative;
    animation-name: roll; 
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
    color: white;}
@keyframes roll 	
   {0%   {left:0px}
    50%  {left:75%}
    100% {left:0px}}