html {
	background-image: url(../img/hospital_bg.jpg);
	background-size:cover;
    color: rgb(80, 160, 255);
    text-shadow: 3px 5px 2px rgb(0, 30, 70);
}

.content {
	position: static;
    background-color: rgba(0,  0, 0, 0.6);
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    color: rgb(80, 160, 255);
}

.header {
	position:static;
	height:10%;
}


img {
    border: 3px solid grey;
    border-radius: 3px;
    opacity: 1;
}


img:hover {
    transition: .5s ease;
    opacity:0.6;
}

table {
    width: 75%;
    top: auto;
    border-collapse:collapse;
    table-layout: fixed;
    background-color: black;
}

td {
    text-align: center;
    align-items: center;
    padding: 10px;
}
.selected {
	background-color: grey;
}


th {
    border-bottom: 5px solid white;
}

a:link {
    color: rgb(80, 160, 255);
    text-decoration: none;
}

a:hover {
    color: rgb(60, 120,200);
    text-decoration: underline;
}

a {
   color: rgb(80, 160, 255);
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.hidden {
	display: none;
}

.buttonDiv {
	text-align:center;
	margin-left: 20%;
	margin-right: 20%;
	padding:10px;
}

.formDiv {
	margin-left: 10%;
	margin-right: 10%;
}

.formTable {
	border-collapse: collapse;
}

.formTable td {
	border: none;
	border-bottom:2px solid grey;
} 


.ani {position: relative;
    animation-name: roll; 
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
    color: black;}
@keyframes roll 	
   {0%   {left:0px}
    50%  {left:75%}
    100% {left:0px}}
