<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<link rel="stylesheet" href="css/style.css" th:href="@{/css/style.css}">
<script type="text/javascript" src="../static/js/jquery-3.5.1.js"
	th:src="@{/js/jquery-3.5.1.js}"></script>
<script type="text/javascript" src="../static/js/script.js"
	th:src="@{/js/script.js}"></script>
<title>Log In</title>
</head>
<body>
	<div class="header">
		<table class="center">
			<tr>
				<td rowspan="3"><a href="/"><img th:src="@{/img/hospital_main.jpg}"
						src="../static/img/hospital_main.jpg" height="150px" /></a></td>
				<td><h1>Imaginary Hospital</h1></td>
			<tr>
				<td><a href="/list">Administer rooms</a></td>
			</tr>
			<tr>
				<td>
					<div sec:authorize="hasRole('ADMIN')">
						<form th:action="@{/logout}" method="post">
							<button type="submit">Log Out</button>
						</form>
					</div>
				</td>

			</tr>
		</table>
	</div>

	<div class="content">
		<h1>Please Log in!</h1>

		<form th:action="@{/login}" method="post">
			<table class="center">
				<tr>
					<td>Username:</td>
					<td><input type="text" id="username" name="username"
						required="required" autofocus="autofocus"></td>
				</tr>
				<tr>
					<td>Password:</td>
					<td><input type="password" id="password" name="password"
						required="required"></td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit" value="Log in"></td>
				</tr>

			</table>

		</form>


	</div>
	<div class="ani">E. Vadon</div>

</body>
</html>